.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: rgb(28, 98, 116);
  color: #fff;
}
ul {
  list-style: none;
  text-align: left;
}
ul li {
  margin-bottom: 10px;
  position: relative;
}
ul li button {
  position: absolute;
  right: -80px;
}
.FlexColumn {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 25px;
  outline: none;
  border: 1px solid #579e9e;
}
input:focus {
  outline: 1px solid #231f5a;
}
.delete {
  background-color: #db3434;
  border: 1px solid aquamarine;
  border-radius: 4px;
  color: rgb(211, 202, 202);
  outline: none;
  cursor: pointer;
}
.delete:active {
  outline: 1px solid #f2f2f2;
}
